---
import Layout from "../layouts/Layout.astro";
import { getFeedItems } from "../Feeds/getFeeds.ts";
import FormattedDate from "../components/FormattedDate.astro";

const { feed } = Astro.props;
const [feedName, feedUrls] = feed;
const feedItems = await getFeedItems(feedName, feedUrls);
---

<Layout>
  <header class="post-header">
    <div class="meta">
      <a class="back" href="/"><i class="arrow">←</i>Retour à l'accueil</a>
    </div>
    <h1>{feedName}</h1>
  </header>
    {feedItems.length === 0 ? (
      <p>Aucun article récent trouvé.</p>
    ) : (
      <ul class="feedContainer">
        {feedItems.map((item) => (
          <li>
            <a target="_blank" href={item.link}>
              <h2 class="title">{item.title}</h2>
              <p>{item.feed}</p>
              <FormattedDate date={item.date} />
            </a>
          </li>
        ))}
      </ul>
    )}
</Layout>